.container {
  display: flex;
  margin: 0 auto;
  width: 33%;
  background-color: #ff0;
  justify-content: center;

}

.inline-nav {
  display: inline;
}

.inline-nav a p {
	display: none;
}

.inline-nav a:hover p {
	display: block;
}

.page-header {
	display: flex;
	margin: 0 auto;
	width: 33%;
	background-color: #0abc4f;
	justify-content: center;
} 



th {
	text-align: center;
}

body {
	padding-top: 25%;
	padding-bottom: 25%;
}
